/*
* Kendo UI v2014.2.716 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "Uniform";
@texture: none;
@tooltip-texture: url('textures/highlight.png');
@fallback-texture: url('textures/highlight.png');

/* Widget Base Styles */
@widget-text-color: #676767;
@inverse-text-color: #fff;
@widget-gradient: "rgba(0,0,0,.01) 0%, rgba(0,0,0,.08) 100%";
@widget-background-color: #fff;
@widget-border-color: #ccc;
@widget-shadow: none;

/* Selects, Dropdowns */
@select-background-color: #fff;
@select-border-color: #cccccc;
@select-hover-background-color: #fff;
@select-group-background-color: #fff;

/* Inputs */
@input-background-color: @widget-background-color;
@input-text-color: @widget-text-color;

/* Links */
@link-text-color: #3e6b99;

/* Headers */
@header-text-color: #454545;
@header-background-color: #fff;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: @header-background-color;

/* Group Base Styles */
@group-background-color: #fff;
@group-border-color: @widget-border-color;

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: @widget-text-color;
@hover-gradient: "rgba(0,0,0,.01) 0%, rgba(0,0,0,.06) 100%";
@hover-background-color: #fff;
@hover-border-color: #cccccc;
@hover-shadow: inset 0 0 1px 1px rgba(255,255,255,.6), 0 0 2px rgba(0,0,0,.3);

/* Selected State */
@selected-text-color: #454545;
@selected-gradient: "rgba(0,0,0,.13) 0%, rgba(0,0,0,.08) 100%";
@selected-background-color: #eee;
@selected-border-color: #ccc;
@selected-shadow: inset 0 0 2px rgba(0,0,0,.15);

/*Focused State*/
@focused-border-color: @hover-border-color;
@focused-shadow: 0 0 3px 0 @shadow-color;
@focused-item-shadow: inset 0 0 4px 1px @hover-border-color;
@focused-active-item-shadow: inset 0 0 6px 1px darken(@selected-border-color, 10%);

/* Active State */
@active-text-color: #454545;
@active-gradient:  none;
@active-background-color: #ffffff;
@active-border-color: #999;
@active-shadow: none;

/* Error State */
@error-text-color: #fff;
@error-background-color: #ff5252;
@error-border-color: #e20000;

/* Disabled State */
@disabled-text-color: #9f9e9e;

/* Notification */
@notification-info-background-color: #e5f5fa;
@notification-info-text-color: #0487c4;
@notification-info-border-color: #b7e1f0;
@notification-success-background-color: #eaf7ec;
@notification-success-text-color: #349946;
@notification-success-border-color: #c3e8ca;
@notification-warning-background-color: #fff4d9;
@notification-warning-text-color: #0487c4;
@notification-warning-border-color: #fff0c8;
@notification-error-background-color: #ffe0d9;
@notification-error-text-color: #ef470a;
@notification-error-border-color: #ffb7a8;

@notification-error-text-color: #ef470a;
/* ToolTip */
@tooltip-text-color: #fff;
@tooltip-background-color: #737373;
@tooltip-border-color: #737373;

/* Validation Message */
@validation-text-color: #635145;
@validation-background-color: #fff4c9;
@validation-border-color: #ffe79e;

/* Splitter */
@splitbar-background-color: @header-background-color;

/* Slider */
@draghandle-border-radius: 7px;
@draghandle-border-color: @widget-border-color;
@draghandle-background-color: @widget-background-color;
@draghandle-shadow: none;
@draghandle-hover-border-color: @hover-border-color;
@draghandle-hover-background-color: @hover-background-color;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: #f5f5f5;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: @widget-border-color;
@column-highlight-background-color: #f7f7f7;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #cee5fd;
@event-text-color: @widget-text-color;
@event-inverse-text-color: @scheduler-background-color;
@scheduler-nonwork-background-color: #f3f3f4;
@resize-background-color: #666;

/* Upload */
@upload-progress-background-color: #d0f8ff;
@upload-progress-text-color: #06c;
@upload-success-background-color: #ddffd0;
@upload-success-text-color: #28760b;
@upload-error-background-color: #ffded7;
@upload-error-text-color: #c00;

/* Gantt*/

@task-summary-color: lighten(@widget-text-color, 25%);
@task-summary-selected-color: lighten(@widget-text-color, 35%);

/* Loading Indicators */
@loading-panel-color: #fcfcfc;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .3);
@shadow-inset-color: #ddd;

/* Border Radii */
@main-border-radius: 6px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 1;

@calendar-border-radius: 4px;
@calendar-content-text-color: @link-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color; 
@calendar-group-background-color: @group-background-color; 
@button-border-color: @widget-border-color;
@menu-border-color: @widget-border-color;
@tabstrip-items-border: @widget-border-color;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: @widget-text-color;
@form-widget-color: #3e6b99;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: @widget-border-color;
@drop-down-focused-border-color: @widget-border-color;
@drop-down-background: #e9e9e9;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: @widget-border-color;
@secondary-text-color: @widget-text-color;
@numeric-selected-background: @selected-background-color; 
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @widget-border-color;
@disabled-gradient: @widget-gradient;

@primary-button-text-color: #686868;
@primary-button-background-color: #fff;
@primary-button-border-color: #cccccc;
@primary-gradient: "#ebebeb 0%, #dfdfdf 100%";
@primary-shadow: inset 0 0 4px 0 #e5e5e5;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #fff;
@primary-hover-border-color: @primary-button-border-color;
@primary-hover-gradient: "#efefef 0%, #e5e5e5 100%";
@primary-hover-shadow: 0 0 4px 0 #e5e5e5;

@primary-focused-color: #464646; 
@primary-focused-border-color: #929292;
@primary-focused-gradient: "#efefef 0%, #e5e5e5 100%";
@primary-focused-active-item-shadow: 0 0 4px 0 #c5c5c5;

@primary-active-text-color: #464646;
@primary-active-background-color: #fff;
@primary-active-gradient: "#dedede 0%, #eaeaea 100%";
@primary-active-border-color: @primary-button-border-color;
@primary-active-shadow:inset 0 0 4px 0 #c5c5c5;

@primary-disabled-text-color: #686868;
@primary-disabled-background-color: #fff;
@primary-disabled-border-color: #d4d4d4;
@primary-disabled-gradient: "#ebebeb 0%, #dfdfdf 100%";

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background-color;
@button-hover-border-color: @hover-border-color;

@button-active-background: @selected-background-color;
@button-active-border-color: @selected-border-color;
@button-focused-border-color: @button-border-color;
@button-focused-shadow: @focused-item-shadow;
@button-focused-active-shadow: @focused-active-item-shadow;

@import "theme-template.less";
