/*
* Kendo UI v2014.2.716 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "Black";
@texture: none;
@tooltip-texture: url('textures/highlight.png');
@fallback-texture: url('textures/glass.png');

/* Widget Base Styles */
@widget-text-color: #fff;
@inverse-text-color: #000;
//@widget-gradient: "rgba(255,255,255,.12) 0%, rgba(255,255,255,.08) 50%, rgba(255,255,255,.05) 51%, rgba(255,255,255,.0) 100%";
@widget-gradient:"rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%";
@widget-background-color: #4d4d4d;
@widget-border-color: #2b2b2b;
@widget-shadow: none;

/* Selects, Dropdowns */
@select-background-color: #272727;
@select-border-color: @widget-border-color;
@select-hover-background-color: #080808;
@select-group-background-color: @select-background-color;

/* Inputs */
@input-background-color: #fff;
@input-text-color: #181818;

/* Links */
@link-text-color: @widget-text-color;

/* Headers */
@header-text-color: @widget-text-color;
@header-background-color: #1d1d1d;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: @select-background-color;

/* Group Base Styles */
@group-background-color: #555;
@group-border-color: @widget-border-color;

/* Content */
@content-background-color: #3d3d3d;


/* Widget States */

/* Hover State */
@hover-text-color: @widget-text-color;
//@hover-gradient: "rgba(255,255,255,.12) 0%, rgba(255,255,255,.20) 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.07) 100%";
@hover-gradient: "rgba(255,255,255,.12) 0%, rgba(255,255,255,.08) 50%, rgba(255,255,255,.05) 51%, rgba(255,255,255,.0) 100%";
@hover-background-color: #3d3d3d;
@hover-border-color: @widget-border-color;
@hover-shadow: none;

/* Selected State */
@selected-text-color: @widget-text-color;
@selected-gradient: @widget-gradient;
@selected-background-color: #0066cc;
@selected-border-color: #0066cc;
@selected-shadow: none;

/*Focused State*/
@focused-border-color: @hover-border-color;
@focused-shadow: 0 0 3px 0 #0066cc;
@focused-item-shadow: inset 0 0 3px 1px #080808;
@focused-active-item-shadow: inset 0 0 3px 1px darken(@selected-border-color, 15%);

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient: none;
@active-background-color: @widget-background-color;
@active-border-color: #020202;
@active-shadow: none;

/* Error State */
@error-text-color: @widget-text-color;
@error-background-color: #ff0000;
@error-border-color: #ff0000;

/* Disabled State */
@disabled-text-color: #7a7a7a;

/* Notification */
@notification-info-background-color: #0c779b;
@notification-info-text-color: @widget-text-color;
@notification-info-border-color: @notification-info-background-color;
@notification-success-background-color: #2b893c;
@notification-success-text-color: @widget-text-color;
@notification-success-border-color: @notification-success-background-color;
@notification-warning-background-color: #be9938;
@notification-warning-text-color: @widget-text-color;
@notification-warning-border-color: @notification-warning-background-color;
@notification-error-background-color: #be5138;
@notification-error-text-color: @widget-text-color;
@notification-error-border-color: @notification-error-background-color;

/* ToolTip */
@tooltip-text-color: #fff;
@tooltip-background-color: #000;
@tooltip-border-color: #000;

/* Validation Message */
@validation-text-color: #080808;
@validation-background-color: #ffb400;
@validation-border-color: #ffb400;

/* Splitter */
@splitbar-background-color: #4c4c4c;

/* Slider */
@draghandle-border-radius: 7px;
@draghandle-border-color: @widget-border-color;
@draghandle-background-color: @widget-background-color;
@draghandle-shadow: none;
@draghandle-hover-border-color: @hover-border-color;
@draghandle-hover-background-color: @hover-background-color;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: #525252;
@nested-alt-background-color: lighten(@alt-background-color, 8%);
@cell-border-color: #444;
@column-highlight-background-color: #303030;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: #272727;
@current-time-color: @error-border-color;
@event-background-color: #0167cc;
@event-text-color: @widget-text-color;
@event-inverse-text-color: @scheduler-background-color;
@scheduler-nonwork-background-color: #363636;
@resize-background-color: #fff;

/* Upload */
@upload-progress-background-color: #366ba0;
@upload-progress-text-color: @widget-text-color;
@upload-success-background-color: #3f8b66;
@upload-success-text-color: @widget-text-color;
@upload-error-background-color: #aa2929;
@upload-error-text-color: @widget-text-color;

/* Gantt*/

@task-summary-color: darken(@widget-text-color, 25%);
@task-summary-selected-color: darken(@selected-background-color, 25%);

/* Loading Indicators */
@loading-panel-color: #666;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .3);
@shadow-inset-color: #aaa;

/* Border Radii */
@main-border-radius: 4px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 0.85;

@calendar-border-radius: 4px;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color; 
@button-border-color: @widget-border-color;
@menu-border-color: #2b2b2b;
@tabstrip-items-border: @widget-border-color;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: @widget-text-color;
@form-widget-color: @widget-text-color;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: #080808;
@drop-down-focused-border-color: #0066cc;
@calendar-group-background-color: @group-background-color; 
@drop-down-background: #272727;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: @widget-border-color;
@secondary-text-color: @widget-text-color;
@numeric-selected-background: @selected-background-color; 
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @widget-border-color;
@disabled-gradient: @widget-gradient;

@primary-button-text-color: #fff;
@primary-button-background-color: #1c77d2;
@primary-button-border-color: #1472d0;
@primary-gradient: "#1472d0 0%, #0267cc 100%";
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #004eb6;
@primary-hover-border-color: #145cbc;
@primary-hover-gradient: "#145cbc 0%, #024fb7 100%";
@primary-hover-shadow:none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #004992;
@primary-focused-gradient: "#1472d0 0%, #0267cc 100%";
@primary-focused-active-item-shadow: 0 0 3px 3px #004992;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #0066cc;
@primary-active-gradient: "#1472d0 0%, #0267cc 100%";
@primary-active-border-color: #0167cc;
@primary-active-shadow:none;

@primary-disabled-text-color: #91aeca;
@primary-disabled-background-color: #0066cc;
@primary-disabled-border-color: #245d95;
@primary-disabled-gradient: "#245d95 0%, #1a5693 100%";

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background-color;
@button-hover-border-color: @hover-border-color;

@button-active-background: @selected-background-color;
@button-active-border-color: @selected-border-color;
@button-focused-border-color: @button-border-color;
@button-focused-shadow: @focused-item-shadow;
@button-focused-active-shadow: @focused-active-item-shadow;

@import "theme-template.less";
