/*
* Kendo UI v2014.2.716 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "Flat";
@texture: none;
@tooltip-texture: none;
@fallback-texture: url('textures/highlight.png');

/* Widget Base Styles */
@widget-text-color: #4c5356;
@inverse-text-color: #fff;
@widget-background-color: #fff;
@widget-border-color: #cdcdcd;

//No gradients
@widget-gradient: none;
@widget-shadow: none;
@hover-gradient: none;
@hover-shadow: none;
@selected-gradient: none;
@selected-shadow: none;
@active-gradient: none;
@active-shadow: none;

/* Hover State */
@hover-background-color: #2eb3a6;
@hover-border-color: #2eb3a6;
@hover-text-color: #fff;

/* Selects, Dropdowns */
@select-background-color: #363940;
@select-border-color: @hover-border-color;
@select-hover-background-color: @hover-background-color;
@select-group-background-color: @select-background-color;

/* Buttons */
@button-background-color: #363940;
@button-text-color: #fff;

/* Group Base Styles */
@group-background-color: #363940;
@group-border-color: #363940;

/* Content */
@content-background-color: @widget-background-color;

@selected-background-color: #10c4b2;
@selected-border-color: @selected-background-color;
@selected-text-color: #fff;

@active-background-color: #10c4b2;
@active-border-color: #10c4b2;
@active-text-color: #fff;
@error-background-color: #fff;
@error-border-color: #e20000;
@error-text-color: #e20000;
@disabled-text-color: #c1c1c1;
@validation-background-color: #ffe13a;
@validation-border-color: #ffe13a;
@validation-text-color: #4c5356;
@tooltip-background-color: #363940;
@tooltip-border-color: #363940;
@tooltip-text-color: #fff;

/* Notification */
@notification-info-background-color: #e5f5fa;
@notification-info-text-color: #0487c4;
@notification-info-border-color: #b7e1f0;
@notification-success-background-color: #eaf7ec;
@notification-success-text-color: #349946;
@notification-success-border-color: #c3e8ca;
@notification-warning-background-color: #fff4d9;
@notification-warning-text-color: #0487c4;
@notification-warning-border-color: #fff0c8;
@notification-error-background-color: #ffe0d9;
@notification-error-text-color: #ef470a;
@notification-error-border-color: #ffb7a8;

/* Slider */
@draghandle-border-radius: 13px;
@draghandle-border-color: #10c4b2;
@draghandle-background-color: #10c4b2;
@draghandle-shadow: 0 0 0 0;
@draghandle-hover-border-color: #2eb3a6;
@draghandle-hover-background-color: #2eb3a6;
@draghandle-hover-shadow: 0 0 0;

@alt-background-color: #f5f5f5;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@active-filter-background-color: @active-background-color;
@cell-border-color: @widget-border-color;
@column-highlight-background-color: #f8f8f8;
@input-background-color: #fff;
@input-text-color: #4c5356;
@shadow-color: rgba(0,0,0,.25);
@shadow-inset-color: transparent;
@link-text-color: #fff;
@loading-panel-color: #fff;
@splitbar-background-color: #cdcdcd;
@default-icon-opacity: 1;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #2eb3a6;
@event-text-color: @selected-text-color;
@event-inverse-text-color: @widget-text-color;
@scheduler-nonwork-background-color: #f4f4f4;
@resize-background-color: #fff;

/* Upload */
@upload-progress-background-color: #d0f8ff;
@upload-progress-text-color: #06c;
@upload-success-background-color: #ddffd0;
@upload-success-text-color: #28760b;
@upload-error-background-color: #ffded7;
@upload-error-text-color: #c00;

/* Gantt*/

@task-summary-color: lighten(@widget-text-color, 25%);
@task-summary-selected-color: lighten(@selected-background-color, 25%);

/* Border Radii */
@main-border-radius: 3px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1.2;
@slider-border-radius: 13px;

/* Headers */
@header-text-color: #fff;
@header-background-color: #363940;

/*Focused State*/
@focused-border-color: #0d9285;
@focused-shadow: none;
@focused-item-shadow: inset 0 0 0 1px #0d9285;
@focused-active-item-shadow: inset 0 0 0 1px #0d9285;

//Added new var-s
@calendar-border-radius: 13px;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: #363940;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: none;
@calendar-footer-hover-background: #2eb3a6;
@calendar-header-hover-text-decoration: underline;
@calendar-header-hover-background: #363940;
@calendar-footer-active-background: #10c4b2; 
@calendar-group-background-color: #fff;

@button-border-color: #363940;
@menu-border-color: #363940;
@tabstrip-items-border: #363940;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: #fff;
@form-widget-color: #fff;
@drop-down-border-color: #10c4b2;
@drop-down-hover-border-color: #2eb3a6;
@drop-down-focused-border-color: #0d9285;
@drop-down-background: #10c4b2;
@drop-down-text-color: #fff;
@secondary-border-color: #63656a;
@secondary-text-color: #fff;
@numeric-selected-background: #363940; 
@panelbar-items-border: #63656a;
@panelbar-content-background: #363940;
@panelbar-content-color: #fff;
@window-shadow-style: 0 0 0 1px;
@filter-menu-content-background: #363940; 
@icon-background-color: #cdcdcd;
@disabled-background-color: #f4f4f4;
@disabled-border-color: #cdcdcd;
@disabled-gradient: none;

@primary-button-text-color: #fff;
@primary-button-background-color: #10c4b2;
@primary-button-border-color: #10c4b2;
@primary-gradient: none;
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #2eb3a6;
@primary-hover-border-color: #2eb3a6;
@primary-hover-gradient: none;
@primary-hover-shadow:none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #363940;
@primary-focused-gradient: none;
@primary-focused-active-item-shadow: none;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #363940;
@primary-active-gradient: none;
@primary-active-border-color: #363940;
@primary-active-shadow: none;

@primary-disabled-text-color: #c1c1c1;
@primary-disabled-background-color: #f4f4f4;
@primary-disabled-border-color: #cdcdcd;
@primary-disabled-gradient: none;

@button-hover-text-color: #fff;
@button-hover-background-color: #2eb3a6;
@button-hover-border-color: #2eb3a6;

@button-active-background: #10c4b2;
@button-active-border-color: #10c4b2;
@button-focused-border-color: #0d9285; 
@button-focused-shadow: none;
@button-focused-active-shadow: none;

@import "theme-template.less";

.k-button-group .k-tool,
.k-toolbar,
.k-grid-toolbar .k-button
{
    border-color: @secondary-border-color;
}

.k-grid-toolbar .k-button:hover,
.k-grid-toolbar .k-button.k-state-hovered
{
    border-color: @button-hover-border-color;
}

.k-grid-toolbar .k-button:focus,
.k-grid-toolbar .k-button.k-state-focused
{
	border-color: @button-focused-border-color;
}

.k-grid-toolbar,
.k-grid,
.k-editor-toolbar
{
	.k-autocomplete,
    .k-picker-wrap,
    .k-numeric-wrap,
    .k-dropdown-wrap
    {
        background-color: @header-background-color;
        .composite-background(@hover-gradient);
        background-position: 50% 50%;
        border-color: @secondary-border-color;
    }

    .k-autocomplete.k-state-hover,
    .k-picker-wrap.k-state-hover,
    .k-numeric-wrap.k-state-hover,
    .k-dropdown-wrap.k-state-hover
    {
        background-color: @select-hover-background-color;
        .composite-background(@hover-gradient);
        background-position: 50% 50%;
        border-color: @drop-down-hover-border-color;
    }

    .k-autocomplete.k-state-focused,
    .k-picker-wrap.k-state-focused,
    .k-numeric-wrap.k-state-focused,
    .k-dropdown-wrap.k-state-focused
    {
        background-color: @select-border-color;
        .composite-background(@hover-gradient);
        background-position: 50% 50%;
        border-color: @select-border-color;
    }
}

.k-popup.k-group
{

    color: @secondary-text-color;
    border-color: @group-border-color;
}

.k-popup.k-group
{
	.k-state-default > .k-select
    {
        border-color: @secondary-border-color;
    }

    .k-state-hover > .k-select
    {
        border-color: @hover-border-color;
    }

    .k-state-focused > .k-select
    {
        border-color: @drop-down-border-color;
    }
}    

.k-grid-toolbar,
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup
{
    color: @secondary-text-color;
}
