/*
* Kendo UI v2014.2.716 (http://www.telerik.com/kendo-ui)
* Copyright 2014 Telerik AD. All rights reserved.
*
* Kendo UI commercial licenses may be obtained at
* http://www.telerik.com/purchase/license-agreement/kendo-ui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@image-folder: "Bootstrap";
@texture: none;
@tooltip-texture: none;
@fallback-texture: none;

/* Widget Base Styles */
@widget-text-color: #333333;
@inverse-text-color: #fff;
@widget-gradient: none;
@widget-background-color: #fff;
@widget-border-color: #ccc;
@widget-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

/* Inputs */
@input-background-color: #ffffff;
@input-text-color: @widget-text-color;

/* Links */
@link-text-color: #428bca;

/* Headers */
@header-text-color: @widget-text-color;
@header-background-color: #f5f5f5;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: #ffffff;

/* Group Base Styles */
@group-background-color: #f5f5f5;
@group-border-color: rgba(0, 0, 0, 0.2);

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: #333333;
@hover-gradient: none;
@hover-background-color: #ebebeb;
@hover-border-color: #adadad;
@hover-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);

/* Selects, Dropdowns */
@select-background-color: #ebebeb;
@select-border-color: @hover-border-color;
@select-hover-background-color: #ebebeb;
@select-group-background-color: #ffffff;

/* Selected State */
@selected-text-color: #ffffff;
@selected-gradient: none;
@selected-background-color: #428bca;
@selected-border-color: #428bca;
@selected-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

/*Focused State*/
@focused-border-color: #67afe9;
@focused-shadow: 0 0 7px 0 #67afe9;
@focused-item-shadow: inset 0 0 7px 0 #67afe9;
@focused-active-item-shadow: inset 0 0 10px 3px darken(#428bca, 8%);

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient:  none;
@active-background-color: #ffffff;
@active-border-color: #cccccc;
@active-shadow: none;

/* Error State */
@error-text-color: #b94a48;
@error-background-color: #f2dede;
@error-border-color: #eed3d7;

/* Disabled State */
@disabled-text-color: #999999;

/* Notification */
@notification-info-background-color: #e5f5fa;
@notification-info-text-color: #0487c4;
@notification-info-border-color: #b7e1f0;
@notification-success-background-color: #eaf7ec;
@notification-success-text-color: #349946;
@notification-success-border-color: #c3e8ca;
@notification-warning-background-color: #fff4d9;
@notification-warning-text-color: #0487c4;
@notification-warning-border-color: #fff0c8;
@notification-error-background-color: #ffe0d9;
@notification-error-text-color: #ef470a;
@notification-error-border-color: #ffb7a8;

/* ToolTip */
@tooltip-text-color: #fff;
@tooltip-background-color: #000;
@tooltip-border-color: #000;

/* Validation Message */
@validation-text-color: #c09853;
@validation-background-color: #fcf8e3;
@validation-border-color: #fbeed5;

/* Splitter */
@splitbar-background-color: @header-background-color;

/* Slider */
@draghandle-border-radius: 13px;
@draghandle-border-color: #ffffff;
@draghandle-background-color: @widget-background-color;
@draghandle-shadow: 0 0 0 1px #c4c4c4;
@draghandle-hover-border-color: @hover-border-color;
@draghandle-hover-background-color: @hover-background-color;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: #f5f5f5;
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: #e7e7e7;
@column-highlight-background-color: #e9e9e9;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #0187cb;
@event-text-color: @selected-text-color;
@event-inverse-text-color: @widget-text-color;
@scheduler-nonwork-background-color: #f5f5f5;
@resize-background-color: #fff;

/* Upload */
@upload-progress-background-color: #d0f8ff;
@upload-progress-text-color: #06c;
@upload-success-background-color: #f0ad4e;
@upload-success-text-color: #ffffff;
@upload-error-background-color: #ffded7;
@upload-error-text-color: #c00;

/* Gantt*/

@task-summary-color: lighten(@widget-text-color, 25%);
@task-summary-selected-color: lighten(@selected-background-color, 25%);

/* Loading Indicators */
@loading-panel-color: #fff;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .2);
@shadow-inset-color: #ccc;

/* Border Radii */
@main-border-radius: 4px;
@list-border-radius: @main-border-radius - 1;
@inner-border-radius: @main-border-radius - 1;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 1;

@calendar-border-radius: 4px;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: #f5f5f5;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color;
@calendar-group-background-color: @group-background-color;
@button-border-color: @form-widgets-border-color;
@menu-border-color: @widget-border-color;
@tabstrip-items-border: transparent;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: #428bca;
@form-widget-color: @widget-text-color;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: #adadad;
@drop-down-focused-border-color: #67afe9;
@drop-down-background: #ffffff;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: #cccccc;
@secondary-text-color: @widget-text-color;
@numeric-selected-background: #ebebeb;
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @button-background-color;
@disabled-border-color: @widget-border-color;
@disabled-gradient: @widget-gradient;

//new var-s
@treeview-text-color: #428bca;
@treeview-hover-text-color: #428bca;
@tabstrip-tabs-hover-color: #428bca;
@pager-hover-color: #428bca;
@multiselect-buttons-border-color: #357ebd;
@multiselect-buttons-color: #ffffff;
@multiselect-buttons-background: #428bca;
@multiselect-buttons-hover-background: #3276b1;
@multiselect-buttons-hover-border-color: #295f8e;
@slider-selection-background-color: #ebebeb;
@form-widgets-border-color: #cccccc;
@pager-text-color: #a5a5a5;
@draghandle-selected-background: #cccccc;
@upload-status-color: #f0ad4e;
@form-widgets-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
@menu-active-background: #e7e7e7;
@concave-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);

@primary-button-text-color: #fff;
@primary-button-background-color: #428bca;
@primary-button-border-color: #367fbd;
@primary-gradient: none;
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #3276b1;
@primary-hover-border-color: #295f8e;
@primary-hover-gradient: none;
@primary-hover-shadow:none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #eff8ff;
@primary-focused-gradient: none;
@primary-focused-active-item-shadow: 0 0 8px 0 #cfe6f8;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #3276b1;
@primary-active-gradient: none;
@primary-active-border-color: #285e8e;
@primary-active-shadow: inset 0 0 8px 0 #66afe9;

@primary-disabled-text-color: @primary-button-text-color;
@primary-disabled-background-color: #84b3dc;
@primary-disabled-border-color: #7dabd4;
@primary-disabled-gradient: none;

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background-color;
@button-hover-border-color: @hover-border-color;

@button-active-background: #ebebeb;
@button-active-border-color: @selected-border-color;
@button-focused-border-color: #67afe9;
@button-focused-shadow: 0 0 7px 0 #67afe9;
@button-focused-active-shadow: inset 0 0 5px 3px #d4d4d4;

@import "theme-template.less";

.k-grid,
.k-scheduler,
.k-menu,
.k-editor
{
    border-radius: @main-border-radius;
}

.k-menu > .k-first
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-menu > .k-first
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-widget.k-treeview
{
    color: @treeview-text-color;
}

.k-treeview .k-in.k-state-hover
{
    color: @treeview-hover-text-color;
}

.k-treeview .k-state-selected,
.k-draghandle.k-state-selected
{
    .box-shadow(none);
}

.k-tabstrip-items .k-state-hover .k-link
{
    color: @tabstrip-tabs-hover-color;
}

.k-tabstrip-items .k-state-active .k-link
{
    color: @active-text-color;
}

.k-tabstrip-items .k-state-active .k-link
{
    color: @active-text-color;
}

.k-tabstrip-items .k-item
{
    background: transparent;
}

.k-tabstrip-items .k-item.k-state-active
{
    background: @widget-background-color;
}

.k-tabstrip-items .k-item.k-state-hover
{
    background: @hover-background-color;
}

.k-tabstrip-items .k-state-focused
{
    border-color: @focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default.k-state-hover,
.k-ie7 .k-tabstrip-items .k-state-default .k-loading
{
    border-color: @hover-background-color;
}

.k-multiselect .k-button
{
    color: @multiselect-buttons-color;
    border-color: @multiselect-buttons-border-color;
    background-color: @multiselect-buttons-background;
}

.k-multiselect .k-button.k-state-hover
{
    border-color: @multiselect-buttons-hover-border-color;
    background-color: @multiselect-buttons-hover-background;
}

.k-multiselect .k-button:active
{
    color: @multiselect-buttons-color;
	.box-shadow(@focused-active-item-shadow);
}

.k-list>.k-state-hover
{
   border-color: @hover-background-color;
}

.k-scheduler-toolbar > ul > li
{
    background-color: @drop-down-background;
    border-color: @secondary-border-color;
}

.k-menu .k-group
{
    background: @widget-background-color;
}

.k-menu .k-state-default .k-state-border-down
{
    background-color: @menu-active-background;
    .box-shadow(@concave-shadow);
}

.k-menu .k-state-border-right
{
    background-color: @selected-background-color;
    color: @selected-text-color;
}

/* Slider */
.k-slider-track
{
    background-color: @widget-background-color;
    border-color: @form-widgets-border-color;
    border-radius: 0;
}

.k-slider-selection
{
    background-color: @slider-selection-background-color;
    border-radius: 0;
}

.k-slider-horizontal .k-tick
{
    background-image:url('@{image-folder}/slider-h.gif');
}

.k-draghandle.k-state-selected,
.k-draghandle.k-state-selected:link,
.k-draghandle.k-state-selected:hover
{
   background-color: @draghandle-selected-background;
   border-color: @draghandle-selected-background;
}

.k-draghandle.k-state-focused,
.k-draghandle.k-state-focused:link,
.k-slider-buttons .k-button:focus,
.k-slider-buttons .k-button:active
{
    .box-shadow(@focused-shadow);
	border-color: @drop-down-focused-border-color;
	background-color: @widget-background-color;
}

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-multiselect.k-header
{
    border-color: @form-widgets-border-color;
}

.k-widget.k-autocomplete,
.k-widget.k-combobox,
.k-widget.k-dropdown,
.k-widget.k-datepicker,
.k-widget.k-datetimepicker,
.k-widget.k-timepicker,
.k-widget.k-numerictextbox,
.k-widget.k-multiselect,
.k-widget.k-menu,
.k-widget.k-progressbar,
.k-progressbar > .k-state-selected
{
    .box-shadow(none);
}

.k-autocomplete.k-state-default .k-input,
.k-combobox .k-state-default .k-input,
.k-picker-wrap.k-state-default .k-input,
.k-numeric-wrap.k-state-default .k-input,
.k-multiselect-wrap,
.k-slider-track,
.k-slider-selection,
.k-progress-status-wrap
{
    .box-shadow(@form-widgets-shadow)
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @widget-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-multiselect .k-textbox:focus
{
    .box-shadow(none);
}    

.k-textbox:hover,
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-border-down,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border-color: @form-widgets-border-color;
    background-color: @select-background-color;
}

.k-grid-filter.k-state-active
{
    border-color: @hover-border-color;
    background-color: @select-background-color;
    .box-shadow(@selected-shadow);
}

.k-picker-wrap.k-state-active.k-state-border-down,
.k-dropdown-wrap.k-state-active.k-state-border-down,
.k-numeric-wrap .k-link.k-state-selected
{
    .box-shadow(@concave-shadow);
}

.k-picker-wrap.k-state-focused > .k-select,
.k-picker-wrap.k-state-active > .k-select
.k-dropdown-wrap.k-state-focused > .k-select,
.k-dropdown-wrap.k-state-active > .k-select
{
    border-color: @form-widgets-border-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @widget-border-color;
}

.k-panelbar > li.k-state-default > .k-link
{
    color: @widget-text-color;
}

.k-panelbar .k-state-focused
{
    .box-shadow(inset @focused-shadow);
}

.k-toolbar .k-button.k-state-active:hover,
.k-split-container .k-button.k-state-active:hover,
.k-overflow-container .k-button.k-state-active:hover,
.k-panelbar > li > .k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-toolbar .k-button.k-state-active,
.k-split-container .k-button.k-state-active,
.k-overflow-container .k-button.k-state-active,
.k-panelbar .k-link.k-state-selected.k-state-hover
{
    color: @hover-text-color;
}

.k-panelbar .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected,
.k-state-selected td.k-state-focused,
.k-listview>.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-panelbar .k-state-focused.k-state-hover
{
    background: @hover-background-color;
	.box-shadow(none);
}

.k-pager-wrap
{
    color: @pager-text-color;
}

.k-pager-wrap>.k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected
{
    border-radius: 0;
}

.k-grid tr td
{
    border-style: solid;
    border-color: @widget-border-color;
}

.k-pager-wrap .k-link
{
    background: @button-background-color;
    border-color: @secondary-border-color;
    border-right: none;
}

.k-pager-wrap .k-pager-refresh
{
    background: @header-background-color;
}

.k-pager-wrap .k-link:hover
{
    color: @pager-hover-color;
    border-color: @secondary-border-color;
    background: @hover-background-color;
}

.k-grid-header .k-link:link,
.k-grid-header .k-link:visited,
.k-grid-header .k-nav-current.k-state-hover .k-link,
.k-grouping-header .k-link
{
    color: @widget-text-color;
}

.k-pager-wrap .k-pager-nav.k-pager-last
{
    border-radius: 0 4px 4px 0;
    border-right-color: @secondary-border-color;
}

.k-pager-nav.k-pager-first
{
    border-radius: 4px 0 0 4px
}

.k-dropzone .k-upload-status
{
    color: @upload-status-color;
}

.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(none);
}

.k-window
{
    border-color: @widget-border-color;
}

.k-state-focused,
.k-button:focus,
.k-button.k-state-focused,
.k-button:focus:active
{
    .box-shadow(@focused-shadow);
}

.k-list>.k-state-focused
{
    .box-shadow(none);
}

.k-button
{
    .box-shadow(none);
}

.k-popup
{
    .box-shadow(0 5px 10px @group-border-color);
}

.k-tooltip
{
    .box-shadow(none);
}

.k-list-container
{
    border-color: @form-widgets-border-color;
}

.k-flatcolorpicker .k-hue-slider .k-draghandle {
    .box-shadow(@draghandle-shadow);
    background: transparent;
    border: 5px solid @draghandle-border-color;
    &:hover, &:focus {
        border-color: @draghandle-border-color;
        .box-shadow(0 0 8px 0 rgba(102,175,233,0.75));
        border-width: 5px;
        padding: 0;
    }
}


// Pager
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected
{
    margin-right: 0;
}

.k-grid .k-pager-numbers,
.k-pager-wrap>.k-link
{
    margin: 0;
}

.k-pager-wrap .k-link
{
    border-right: none;
}

.k-pager-wrap .k-link.k-pager-last
{
    border-right-width: 1px;
    border-right-style: solid;
}

.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active
{
 	.box-shadow(none);
}

.k-primary:active
{
    color: @primary-active-text-color;
    border-color: @primary-active-border-color;
    .composite-background(@primary-active-gradient);
    background-color: @primary-active-background-color;
    .box-shadow(@primary-active-shadow);
}

.k-editor-toolbar .k-tool
{
    color: @secondary-text-color;
    background-color: @button-background-color;
    border-color: @secondary-border-color;
}

.k-editor-toolbar .k-tool.k-state-hover
{
    color: @hover-text-color;
    border-color: @hover-border-color;
    background-color: @hover-background-color;
}

.k-editor-toolbar .k-state-selected
{
    .box-shadow(@concave-shadow);
    background-color: @select-background-color;
    border-color: @hover-border-color;
}

.k-editor-toolbar .k-button-group .k-tool-icon
{
    border-color: @secondary-border-color;
}

.k-splitbar,
.k-splitbar:hover
{
    border-color: transparent;
}

.k-button:active
{
    color: @button-text-color;
    background-color:@button-active-background;
    border-color: @hover-border-color;
}
