table {
	border: 0;
	margin: 0 auto;
	padding: 0;
	width: 100%;
 }
table td {
	text-align:left;
	vertical-align:middle;
	padding:1px 1px 1px 1px;
	width:100%;
 }
a{
	cursor:pointer;
 }
a > span.textCaption-1{
    text-decoration: underline;
}
a > span.textCaption-1:hover{
    text-decoration: none;
}

.textCaption-1{
	font-size:14px;
	font-weight:bold;
 }
.textCaption-2{
	font-weight:bold;
	padding-right:5px;
	
 }
.textCaption-3{
	font-size:16px;
	font-weight:bold;
 }
.textCaption-4{
	font-size:16px;
	font-weight:bold;
    text-align:center;
 }

#vrecoveryPassword input[type="text"]{
	height:17px;
 }
#vpasswordChange input[type="password"]{
	height:17px;
 }
#vaddProductFormData input[type="text"]{
	height:17px;
 }
#vkey input[type="text"]{
	height:17px;
 }