<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="../../styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div kendo-tooltip k-content="'The <b>tooltip</b><br />Time is: {{time}}'" class="k-group">
            I have a tooltip.
        </div>

        <div kendo-tooltip k-content="theContent" class="k-group">
            I also have a tooltip.
        </div>

        <style scoped>
                .k-group {
                    display: inline-block;
                    text-align: center;
                    width: 200px;
                    white-space: nowrap;
                    border-width: 1px;
                    border-style: solid;
                    padding: 2em;
                    margin: 10px;
                }
            </style>
    </div>
</div>

<script>
    angular.module("KendoDemos", [ "kendo.directives" ]);
    function MyCtrl($scope, $timeout) {
        function updateTime() {
            $scope.time = kendo.toString(new Date(), "H:mm:ss.fff tt");
            $timeout(updateTime, 78);
        }
        $scope.theContent = "The <b>tooltip</b><br />Time is: {{time}}";
        updateTime();
    }
</script>


    
    
</body>
</html>
